<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">新しい習慣を作成</h1>

          <%= render 'form', habit: @habit %>

          <div class="mt-3">
            <%= link_to "キャンセル", habits_path, class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>